*.swp

# Compiled Object files
obj/

# Compiled target executable files
ramulator
build/cmake_install.cmake
build/CMakeCache.txt
build/libramulator.a
build/Makefile
build/ramulator_test
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.20200903-gca5babf/CMakeCCompiler.cmake
build/CMakeFiles/3.18.20200903-gca5babf/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.20200903-gca5babf/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.20200903-gca5babf/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.20200903-gca5babf/CMakeSystem.cmake
build/CMakeFiles/3.18.20200903-gca5babf/CompilerIdC/a.out
build/CMakeFiles/3.18.20200903-gca5babf/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.20200903-gca5babf/CompilerIdCXX/a.out
build/CMakeFiles/3.18.20200903-gca5babf/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/ramulator.dir/build.make
build/CMakeFiles/ramulator.dir/cmake_clean_target.cmake
build/CMakeFiles/ramulator.dir/cmake_clean.cmake
build/CMakeFiles/ramulator.dir/CXX.includecache
build/CMakeFiles/ramulator.dir/depend.internal
build/CMakeFiles/ramulator.dir/depend.make
build/CMakeFiles/ramulator.dir/DependInfo.cmake
build/CMakeFiles/ramulator.dir/flags.make
build/CMakeFiles/ramulator.dir/link.txt
build/CMakeFiles/ramulator.dir/progress.make
build/CMakeFiles/ramulator.dir/src/ALDRAM.cpp.o
build/CMakeFiles/ramulator.dir/src/Cache.cpp.o
build/CMakeFiles/ramulator.dir/src/Controller.cpp.o
build/CMakeFiles/ramulator.dir/src/DDR3.cpp.o
build/CMakeFiles/ramulator.dir/src/DDR4.cpp.o
build/CMakeFiles/ramulator.dir/src/DSARP.cpp.o
build/CMakeFiles/ramulator.dir/src/GDDR5.cpp.o
build/CMakeFiles/ramulator.dir/src/Gem5Wrapper.cpp.o
build/CMakeFiles/ramulator.dir/src/HBM.cpp.o
build/CMakeFiles/ramulator.dir/src/LPDDR3.cpp.o
build/CMakeFiles/ramulator.dir/src/LPDDR4.cpp.o
build/CMakeFiles/ramulator.dir/src/Main.cpp.o
build/CMakeFiles/ramulator.dir/src/MemoryFactory.cpp.o
build/CMakeFiles/ramulator.dir/src/PCM.cpp.o
build/CMakeFiles/ramulator.dir/src/Processor.cpp.o
build/CMakeFiles/ramulator.dir/src/RamulatorConfig.cpp.o
build/CMakeFiles/ramulator.dir/src/Refresh.cpp.o
build/CMakeFiles/ramulator.dir/src/SALP.cpp.o
build/CMakeFiles/ramulator.dir/src/StatType.cpp.o
build/CMakeFiles/ramulator.dir/src/STTMRAM.cpp.o
build/CMakeFiles/ramulator.dir/src/TLDRAM.cpp.o
build/CMakeFiles/ramulator.dir/src/WideIO.cpp.o
build/CMakeFiles/ramulator.dir/src/WideIO2.cpp.o
build/CMakeFiles/ramulator_test.dir/build.make
build/CMakeFiles/ramulator_test.dir/cmake_clean.cmake
build/CMakeFiles/ramulator_test.dir/CXX.includecache
build/CMakeFiles/ramulator_test.dir/depend.internal
build/CMakeFiles/ramulator_test.dir/depend.make
build/CMakeFiles/ramulator_test.dir/DependInfo.cmake
build/CMakeFiles/ramulator_test.dir/flags.make
build/CMakeFiles/ramulator_test.dir/link.txt
build/CMakeFiles/ramulator_test.dir/main.cc.o
build/CMakeFiles/ramulator_test.dir/progress.make
